.aboutPage{
    
    margin:auto !important;
    width: 900px;
    height: 380px;
    background-color: rgba(224, 193, 223, 0.541);
    color: rgb(86, 18, 95);
    text-align: center;
    font-size: 50px;
    border: 3px solid rgb(71, 15, 73);
    margin-top: 15px !important;
    box-shadow: 10px 20px #888888;
    /* background-image: url("../img/8.jpg") ; */
    
    

}
.aboutPage{
    background: 
    url("../img/8.jpg") bottom center no-repeat; 
    opacity: 0.5; 
}
.aboutName{
font-size: 50px;
}
.titleCh{
    font-size: 40px;
    font-family: cursive;
    font-weight: bold !important;
    color: black !important;
}
.titleCh1{
    font-size: 20px ;
    font-family: emoji; 
    font-weight: bold !important;
    
}