
.nameSite{
  font-size: 100px;
}
.loginCard{
    margin: auto;
    width: 60%;
    border: 3px solid  rgb(173, 143, 143);
    padding: 10px;
    background-color: seashell;
    
}
h3{
  color:  rgb(173, 143, 143) !important;  
}
.btnSubmit{
color: black !important;
border: 3px solid  rgb(173, 143, 143) !important;
background-color: rgb(173, 143, 143) !important;
}
.nav-link{
    color: black !important;

}
.allLogin{
  background-image: url("../img/r2.jpg");
}