.navbar{
    background-color: rgb(173, 143, 143) !important;
    color: black;
}
.page-footer{
    direction: rtl;
}
.page-footer{
   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 200, 200);
    color: black;
    text-align: center;
}
.nameTag{
    margin-right: 800px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}