#pay{
    float: left;
}

.cardpay {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin:40px;
  text-align: center;
  font-family: arial;
  display: inline-block;
  max-width: 200px !important;
  height: 270px !important;
 
   
}
.cardpay-img-top{
    height: 150px;
  }
  .payButton{
    color: rgb(173, 143, 143) !important;
    font-size: 25px;
  }
  .pay{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
